<%- include('header', {title: "Live Monitoring"});  -%>

<style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
      </style>


    </head>

    <body>
            <ul id="messages">
              <li id="ubuntu"></li>
            </ul>

            <table id="table" data-height="460" data-row-style="rowStyle">
              <thead>
                  <tr>
                      <th data-field="device">Device</th>
                      <th data-field="cpu" data-cell-style="cellStyle">CPU</th>
                      <th data-field="memory">Memory</th>
                  </tr>
              </thead>
              
          </table>


            <form action="">
              <input id="m" autocomplete="off" /><button>Send</button>
            </form>

            <script src="/socket.io/socket.io.js"></script>
            <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

            <script>
              function cellStyle(value, row, index) {
                var classes = ['active', 'success', 'info', 'warning', 'danger']
                if (value > 90) {
                  return {
                    css: {
                      'background-color': '#ff9999'
                    }
                  }
                }
                else if (value >80 & value < 90){
                  return {
                    css: {
                      'background-color': '#ffcc80'
                    }
                  }

                }
                return {}
              }
            </script>



            <script>
                    $(function () {
                      var socket = io();
                      $('form').submit(function(e){
                        e.preventDefault(); // prevents page reloading
                        socket.emit('chat message', $('#m').val());
                        $('#m').val('');
                        return false;
                      });
                      socket.on('chat message', function(msg){
                        $('#messages').append($('<li>').text(msg));
                      });

                      

                      var initialTableData = [
                        {
                          'device': 'ubuntu',
                          'cpu': '-',
                          'memory': '-'
                        },
                        {
                          'device': 'aix',
                          'cpu': '-',
                          'memory': '-'
                        }
                      ];
                      $('#table').bootstrapTable({
                            data: initialTableData
                      });

                      




                        




                      socket.on('ubuntu', function(msg){
                        //document.getElementById('ubuntu').innerHTML = JSON.stringify(msg);
                        
                        //var ss = JSON.parse(JSON.stringify(msg));
                        //console.log(msg);

                        //var test = [msg];
                        
                        
                        //$('#table').bootstrapTable('load', test);
                        console.log('Ubuntu is up');

                        $('#table').bootstrapTable('updateRow', {
                          index: 0,
                            // row: {
                              
                            //   device: 'aix' ,
                            //   cpu: 'test',
                            //   memory: 'test'
                            // }
                            row : msg
                        });
                      });


                      socket.on('aix', function(msg){
                        //var test = [msg];
                        
                        // $('#table').bootstrapTable({
                        //     data: test
                        // });
                        // $('#table').bootstrapTable('load', test);
                        //   console.log('Hello');

                        console.log('Aix is up');
                          $('#table').bootstrapTable('updateRow', {
                            index: 1,
                            // row: {
                            //   device: 'aix' ,
                            //   cpu: 'test',
                            //   memory: 'test'
                            // }
                            row : msg
                        });

                        
                        
                      });

                      socket.on('test', function(msg){
                        
                              
                      });

                      



                        

                      


                    });
                      
                  </script>


        

    <%- include('footer'); -%>